<!-- Cargar CSS de Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

<!-- Cargar Popper.js (necesario para algunos componentes de Bootstrap) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

<!-- Cargar JS de Bootstrap (para la funcionalidad de los controles y el ciclo automático) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js"></script>


<!-- Carrusel completo -->
<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/Starry_Night.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/poker.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/creation.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="row featurette">
    <div class="col-md-6">
        <img src="img/museo.jpg" class="featurette-image img-fluid mx-auto" alt="museo" width="500" height="500"></div>
    <div class="col-md-6">
      <h2 class="featurette-heading fw-normal lh-1">Bienvenido al Museo Virtual VisitArte</h2>
      <p>Explora el arte, la historia y la cultura desde cualquier lugar del mundo. En este espacio único, cada sala, exposición y pieza ha sido diseñada para transportarte a través del tiempo y el conocimiento, todo desde la comodidad de tu hogar.
        Sumérgete en colecciones interactivas, exhibiciones inmersivas y experiencias digitales innovadoras que acercan los tesoros del pasado y las maravillas del presente a tu pantalla. Descubre, aprende y comparte el legado cultural de la humanidad sin fronteras.
            <br>
        <strong> Tu viaje empieza aquí. ¡Adelante!</strong></p>
    </div>
  </div>
  <br>

  <div class="row featurette">
    <div class="col-md-6">
      <h2 class="featurette-heading fw-normal lh-1" [innerHTML]="getIndex().titulo"></h2>
      <p [innerHTML]="getIndex().descripcion"></p>
    </div>
    <div class="col-md-6">
        <img src="{{getIndex().imagen}}" class="featurette-image img-fluid mx-auto" alt="exhibicion" width="500" height="500"></div>
  </div>

<!--
<br><br>
  <div class="row featurette">
    <div class="col-md-6">
      <h2 class="featurette-heading fw-normal lh-1">Nueva Exposición: "El Impresionismo en su Esplendor"</h2>
      <p>Adéntrate en el vibrante mundo del impresionismo con nuestra nueva exposición virtual, que celebra a maestros como Claude Monet, Vincent van Gogh, Edgar Degas y muchos más. Descubre cómo estos artistas rompieron las reglas tradicionales para capturar la belleza efímera de la luz, el movimiento y la naturaleza. Explora obras icónicas como los "Mujer con sombrilla" de Monet o “Los Girasoles” de Van Gogh en un recorrido inmersivo que te permitirá apreciar cada pincelada y detalle con una cercanía nunca antes vista. Además, disfruta de contenido interactivo, historias detrás de las obras y experiencias que te conectarán con el espíritu revolucionario de esta corriente artística que cambió la historia del arte para siempre.
            <br>
        <strong>Sumérgete en esta experiencia única y deja que el impresionismo ilumine tus sentidos. ¡Visítanos hoy!</strong></p>
    </div>
    <div class="col-md-6">
        <img src="img/exhibicion.jpg" class="featurette-image img-fluid mx-auto" alt="exhibicion" width="500" height="500"></div>
  </div>
-->