<div class="row featurette">
    <div class="col-md-6">
        <img src="img/museo.jpg" class="featurette-image img-fluid mx-auto" alt="museo" width="500" height="500"></div>
    <div class="col-md-6">
      <h2 class="featurette-heading fw-normal lh-1">Bienvenido al Museo Virtual VisitArte</h2>
      <p>Explora el arte, la historia y la cultura desde cualquier lugar del mundo. En este espacio único, cada sala, exposición y pieza ha sido diseñada para transportarte a través del tiempo y el conocimiento, todo desde la comodidad de tu hogar.
        Sumérgete en colecciones interactivas, exhibiciones inmersivas y experiencias digitales innovadoras que acercan los tesoros del pasado y las maravillas del presente a tu pantalla. Descubre, aprende y comparte el legado cultural de la humanidad sin fronteras.
            <br>
        <strong> Tu viaje empieza aquí. ¡Adelante!</strong></p>
    </div>
  </div>
<br><br>
  <div class="row featurette">
    <div class="col-md-6">
      <h2 class="featurette-heading fw-normal lh-1">Nueva Exposición: "El Impresionismo en su Esplendor"</h2>
      <p>Adéntrate en el vibrante mundo del impresionismo con nuestra nueva exposición virtual, que celebra a maestros como Claude Monet, Vincent van Gogh, Edgar Degas y muchos más. Descubre cómo estos artistas rompieron las reglas tradicionales para capturar la belleza efímera de la luz, el movimiento y la naturaleza. Explora obras icónicas como los "Mujer con sombrilla" de Monet o “Los Girasoles” de Van Gogh en un recorrido inmersivo que te permitirá apreciar cada pincelada y detalle con una cercanía nunca antes vista. Además, disfruta de contenido interactivo, historias detrás de las obras y experiencias que te conectarán con el espíritu revolucionario de esta corriente artística que cambió la historia del arte para siempre.
            <br>
        <strong>Sumérgete en esta experiencia única y deja que el impresionismo ilumine tus sentidos. ¡Visítanos hoy!</strong></p>
    </div>
    <div class="col-md-6">
        <img src="img/exhibicion.jpg" class="featurette-image img-fluid mx-auto" alt="exhibicion" width="500" height="500"></div>
  </div>
 
