<div class="container my-5">
    <div class="row featurette">
      <div class="col-md-6">
        <img src="img/beso.png" class="featurette-image img-fluid mx-auto" alt="museo" width="500" height="500">
      </div>
      <div class="col-md-6">
        <h1 class="featurette-heading fw-normal lh-1"><strong>El beso,</strong></h1>
        <h2 class="featurette-heading fw-normal lh-1">de Alfred Eisenstaedt</h2>
        <p>V-J Day in Times Square (también conocida como V-Day y The Kiss) es una famosa fotografía de Alfred Eisenstaedt que retrata a un marinero estadounidense besando a una joven mujer vestida de blanco durante las celebraciones del Día de la Victoria sobre Japón en Times Square el 14 de agosto de 1945. La fotografía fue originalmente publicada una semana después en la revista Life, entre otras muchas fotografías de las celebraciones en el país, presentadas en una sección de doce páginas llamada Victory. La imagen de dos personas besándose era la favorita de los fotógrafos que cubrían la guerra en la época y muchos de ellos animaban a las personas a posar de esta forma. Sin embargo, Eisenstaedt estaba fotografiando un acontecimiento espontáneo, que ocurrió en Times Square con el anuncio del fin de la Segunda Guerra Mundial realizado por el presidente Harry S. Truman.
        <br><br>
        Debido a que al momento de tomar la foto, los protagonistas no fueron registrados, sus nombres quedaron en el incógnito, años después muchas personas reclamaron ser los protagonistas, solo Eisenstaedt podía identificarlos mediante un análisis comparativo de su fisonomía.        <br><br>
        Estas obras fueron concebidas originalmente para decorar la habitación de su amigo y colega Paul Gauguin, en la famosa Casa Amarilla de Arlés, donde Van Gogh soñaba con crear un refugio artístico. Sin embargo, más allá de su propósito decorativo, "Los Girasoles" representan la intensidad emocional y la visión única del artista sobre la naturaleza y la luz.
        <br><br>
        En agosto de 1945, Shain estaba trabajando en un hospital de Nueva York como enfermera cuando ella y un amigo oyeron en el radio que la Segunda Guerra Mundial había terminado. Fueron a Times Square, donde se encontraba una multitud celebrándolo y nada más salir del metro, un marinero la agarró del brazo y la besó. Shain contó que en aquel momento pensó que podía dejar que la besara puesto que aquel hombre había luchado por ella durante la guerra.
        <br><br>
        Mientras que el marinero George Mendonsa, estaba con su cita en el cine cuando comenzó a correr la voz de la noticia de la rendición de Japón. el marinero corrió a lo largo de la calle agarrando a todas y cada de las chicas que se ponían a su alcance.
    </p>
    </div>
    <a routerLink="/catalogo" class="btn btn-primary boton-volver">Volver al catalogo</a>
    </div>
  </div>
