  <div class="custom-bg text-dark">
    <div class="d-flex align-items-center justify-content-center min-vh-100 px-2">
        <div class="text-center">
            <h1 class="display-1 fw-bold">
                <span class="txt-brown">4</span>
                <span class="txt-black">0</span>
                <span class="txt-brown">4</span>
            </h1>
            <p class="fs-2 fw-medium mt-4 txt-black">Oops! Página no encontrada</p>
            <p class="mt-4 mb-5 txt-black">La página que buscas no ha sido encontrada.</p>
            <a class="btn btn-primary fw-semibold rounded-pill px-4 py-2 custom-btn" routerLink="/home">
                Go Home
            </a>
        </div>
    </div>
</div>
  