
<div class="row featurette">
    <div class="col-md-5">
        <img src="img/team.JPEG" class="featurette-image img-fluid mx-auto" alt="Sobre Nosotros" width="500" height="500"></div>
    <div class="col-md-6">
      <h2 class="featurette-heading fw-normal lh-1">Sobre Nosotros</h2>
      <p class="lead">Somos un grupo de cinco personas unidas por la pasión por el arte, la historia y la tecnología: Emma Serrano, Carla Sanchis, Mario Villanueva, Rafael Caro y Jorge de Diego.
        <br>
        Juntos hemos creado este museo virtual con el sueño de hacer que la cultura y el conocimiento sean accesibles para todos, sin importar dónde se encuentren.
        <br>
        <br>
        Creemos que el arte es un puente que conecta a las personas con el pasado, el presente y entre sí, y trabajamos cada día para ofrecer experiencias innovadoras que inspiren, eduquen
        <br>
        y emocionen. Este espacio es más que un museo: es una puerta abierta al mundo de la creatividad, la belleza y el aprendizaje.</p>
        <p><strong>¡Gracias por ser parte de este viaje cultural!</strong></p>
    </div>
  </div>