<h1>footer kinda works!</h1>
<!-- Footer Section -->
<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <!-- Column 1: Logo or Text -->
        <div class="col-md-4">
          <h5>¡Bienvenidos al Museo Virtual de Arte!</h5>
          <p>Explora las mejores obras de arte desde la comodidad de tu hogar.</p>
        </div>
        
        <!-- Column 2: Quick Links -->
        <div class="col-md-4">
          <h5>Enlaces Rápidos</h5>
          <ul class="list-unstyled">
            <li><a href="/home" class="text-white">Inicio</a></li>
            <li><a href="/catalogo" class="text-white">Catálogo</a></li>
            <li><a href="/contacto" class="text-white">Contacto</a></li>
            <li><a href="/about-us" class="text-white">Sobre Nosotros</a></li>
          </ul>
        </div>
        
        <!-- Column 3: Social Media Links -->
        <div class="col-md-4">
          <h5>Síguenos</h5>
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com" class="text-white" target="_blank">Facebook</a></li>
            <li><a href="https://www.twitter.com" class="text-white" target="_blank">Twitter</a></li>
            <li><a href="https://www.instagram.com" class="text-white" target="_blank">Instagram</a></li>
            <li><a href="https://www.linkedin.com" class="text-white" target="_blank">LinkedIn</a></li>
          </ul>
        </div>
      </div>
  
      <!-- Row for copyright -->
      <div class="row mt-4">
        <div class="col text-center">
          <p>&copy; 2025 Museo Virtual de Arte. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
  
