<div class="container my-5">
    <div class="row featurette">
      <div class="col-md-6">
        <img src="img/madonna.jpg" class="featurette-image img-fluid mx-auto" alt="museo" width="500" height="500">
      </div>
      <div class="col-md-6">
        <h1 class="featurette-heading fw-normal lh-1"><strong>The Madonna della Pietà,</strong></h1>
        <h2 class="featurette-heading fw-normal lh-1">de Miguel Ángel</h2>
        <p>El tema de la Piedad siempre se ha representado de manera tormentosa ante la situación que protagonizan la Virgen María y su hijo Jesús. Sin embargo, Miguel Ángel va más allá y realiza una Piedad plasmando armonía, belleza y equilibro, dejando a un lado el excesivo dolor
        <br><br>
        Nos situamos en 1498 en Roma, en pleno apogeo del Renacimiento. El cardenal Saint Denis encarga al escultor florentino, Miguel Ángel, que realice una Piedad. Se trata de la actual Piedad del Vaticano, también nombrada como Pietà, creada en mármol de Carrara y localizada en la capilla del Crucifijo de la Basílica de San Pedro. El grupo escultórico forma un triángulo equilátero sobre una base elíptica, que otorga equilibrio y estabilidad a la imagen. Es notable la influencia neoplatónica sobre el escultor, que da como resultado el idealismo renacentista que hace que la belleza predomine sobre el sufrimiento.
        <br><br>
        De esta forma, a pesar del momento tan duro que se representa, la Virgen María aparece con el rostro joven, bello e inmaculado, simbolizando a María eternamente virgen y madre. Jesús con un aspecto más maduro que el de su madre, representando un rostro común en la naturaleza humana. Una característica poco visible pero si muy importante es el portentoso tamaño de María, ya que si se pusiera de pié, se vería a una mujer de unas dimensiones demasiado grandes. Pero todo tiene su explicación, y es para así corregir la óptica sobre la escultura desde el suelo, situando el cuerpo de Jesús en un punto de apoyo mayor.
        <br><br>
        Miguel Ángel pone mucha atención también en los detalles y en la anatomía, además de la inteligencia de saber jugar con las luces y las sombras, como en los pliegues de los paños de la Virgen, en los que casi se hace deslizar la luz. Así tenemos la Piedad más armoniosa de todas, que como última curiosidad, es la única obra firmada por Miguel Ángel. La firma la plasmo sobre la Virgen, en la misma noche en la que se enteró de que circulaba el rumor de que esta escultura no era de su autoría.
        </p>
      </div>
      <a routerLink="/catalogo" class="btn btn-primary boton-volver">Volver al catalogo</a>
    </div>
  </div>
