<div class="container my-5">
    <div class="row featurette">
      <div class="col-md-6">
        <img src="img/monet.png" class="featurette-image img-fluid mx-auto" alt="museo" width="500" height="500">
      </div>
      <div class="col-md-6">
        <h1 class="featurette-heading fw-normal lh-1"><strong>La Mujer de la Sombrilla,</strong></h1>
        <h2 class="featurette-heading fw-normal lh-1">de Claude Monet</h2>
        <p>El cuadro "Mujer con sombrilla" es una de las obras más conocidas del artista impresionista francés Claude Monet. Monet pintó esta obra en 1875 durante su estancia en el pueblo de Argenteuil, ubicado en las afueras de París.
        <br><br>
        La pintura representa a una mujer caminando con una sombrilla en un campo o prado. La mujer está vestida con un vestido de colores claros y se encuentra en una pose animada y en movimiento. La sombrilla, pintada con tonos vibrantes, crea un contraste llamativo con la naturaleza circundante. El fondo muestra prados verdes y un cielo azul con nubes suaves y ondulantes. Monet captura la calidad de la luz y el aire a través de pinceladas cortas y rápidas características de su estilo, y una paleta de colores frescos. "Mujer con sombrilla" es un excelente ejemplo del interés de Claude Monet por capturar momentos fugaces y las cambiantes condiciones de iluminación.
        <br><br>
        La técnica de los impresionistas se centraba en el efecto general de la pintura en lugar del realismo detallado. Monet a menudo pintaba en plein air, es decir, al aire libre, para capturar la luz y la atmósfera en constante cambio de la naturaleza. La pintura también simboliza el interés de Claude Monet por representar la vida moderna. Con frecuencia pintaba escenas de personas, especialmente mujeres, en paisajes naturales. Se cree que la mujer en "Mujer con sombrilla" es su esposa, Camille, u otro miembro de su familia. Es una obra icónica del impresionismo, que representa la habilidad de Monet para capturar el juego de la luz y la atmósfera en la naturaleza. La pintura ha inspirado a muchos artistas y sigue cautivando a los espectadores con su belleza y elegancia.
        </p>
      </div>
      <a routerLink="/catalogo" class="btn btn-primary boton-volver">Volver al catalogo</a>
    </div>
  </div>