<div class="container my-5">
    <div class="row featurette">
      <div class="col-md-6">
        <img src="img/girasoles.png" class="featurette-image img-fluid mx-auto" alt="museo" width="500" height="500">
      </div>
      <div class="col-md-6">
        <h1 class="featurette-heading fw-normal lh-1"><strong>Los Girasoles,</strong></h1>
        <h2 class="featurette-heading fw-normal lh-1">de Vincent van Gogh</h2>
        <p>Estas pintura, realizadas entre 1888 y 1889 en Arlés, Francia, reflejan el genio y la intensidad emocional del artista a través de su característico uso del color y la pincelada expresiva.
        <br><br>
        Los girasoles, símbolo de vida, luz y energía, fueron un motivo recurrente en la obra de Van Gogh. En esta serie, el artista exploró la vibrante paleta de los amarillos, ocres y anaranjados, creando contrastes dinámicos sobre fondos de tonos suaves. La textura gruesa de la pintura al óleo, aplicada con pinceladas enérgicas y empastadas, confiere a las flores una sensación de movimiento y vitalidad.
        <br><br>
        Estas obras fueron concebidas originalmente para decorar la habitación de su amigo y colega Paul Gauguin, en la famosa Casa Amarilla de Arlés, donde Van Gogh soñaba con crear un refugio artístico. Sin embargo, más allá de su propósito decorativo, "Los Girasoles" representan la intensidad emocional y la visión única del artista sobre la naturaleza y la luz.
        <br><br>
        Cada versión de esta serie posee una identidad propia, pero todas comparten la esencia de la genialidad de Van Gogh: la transformación de lo cotidiano en algo sublime y profundamente expresivo.
        </p>
      </div>
      <a routerLink="/catalogo" class="btn btn-primary boton-volver boton-volver">Volver al catalogo</a>
    </div>
  </div>
