<div class="container">
  <div class="row">
    @for (articulo of expositor.articulos; track $index) {
      <div class="col-lg-4 col-md-6 mb-4 d-flex">
        <div class="card flex-fill">
          <img src="{{articulo.imagen}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{articulo.nombre}}</h5>
            <p class="card-text">{{articulo.autor}}</p>
            <p class="card-text">{{articulo.fecha}}</p>
            <a routerLink="{{articulo.link}}" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
    }
  </div>
</div>